<div class="Row CenterV">
    <h2 class="MarginLeft2x MarginRight4x">Pay</h2>
    <app-search-bar></app-search-bar>
    <div class="FillParent"></div>
    <small class="Transform Scale0-65x">EN</small>
    <span class="ri-arrow-drop-down-line"></span>
    <span class="ri-notification-3-line"></span>
    <div class="UserAvatar MarginLeft3x MarginRight2x">
        <img src="https://cdn.shopify.com/s/files/1/0045/5104/9304/t/27/assets/AC_ECOM_SITE_2020_REFRESH_1_INDEX_M2_THUMBS-V2-1.jpg?v=8913815134086573859" alt="user_avatar">
    </div>
</div>
