<div class="Position Relative">

    <div class="Position Absolute CardShadow"></div>
    <div class="Position Absolute CardShadow"></div>

    <div class="PrimaryCard Position Relative">
        <div class="Row CenterV">
            <img class="CardChipAvatar" alt="card_chip_avatar"
                src="https://cdn.iconscout.com/icon/premium/png-512-thumb/credit-card-chip-1522262-1288452.png" />
            <img class="ContactLessPaymentAvatar MarginLeft0-5x" src="assets/icons/wifi-signal.svg" alt="cntctless_pymnt">
        </div>
    
        <p class="CardNumber MarginRight6x">4562 1122 4595 7852</p>
        <div class="Text AlignRight">
            <img class="MasterCardAvatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Mastercard_2019_logo.svg/1200px-Mastercard_2019_logo.svg.png" alt="master_card_thumbnail">
        </div>
    
        <small class="Font Size0-35x MarginBottom1x">CARD HOLDER</small>
    
        <div class="Row CenterV">
            <div class="FullName">Ghulam Rasool</div>
            <div class="FillParent"></div>
            <div class="Brand">Mastercard</div>
        </div>
    </div>

    <div class="MarginBottom1x"></div>

</div>
