<app-navbar></app-navbar>
<div class="Row">
	<app-sidenav></app-sidenav>
	<div class="Row DashboardContainer FillParent MarginRight2x">
		<div>
			<div class="Row">
				<div class="MarginRight2x">
					<h4>Dashboard</h4>
					<app-primary-card></app-primary-card>
				</div>
				<div>
					<h4>Upcoming payments</h4>
					<app-upcoming-payments></app-upcoming-payments>
				</div>
			</div>
			<app-recent-transactions></app-recent-transactions>
		</div>
		<div class="FillParent MarginLeft2x MarginTop3x">
			<app-monthly-spending-insights></app-monthly-spending-insights>
		</div>
	</div>
</div>